#renderArea {
    position: absolute;
    height: 95%;
    width: 95%;
    background-color: azure;
    text-align: center;
}

form {
    position: relative;
    text-align: center;
    top: 45%;
}

input {
    font-family: consolas;
    font-weight: bold;
    font-size: 14px;
    margin-top: 2%;
}
