body, html {
    margin: 0px;
    height: 100%;
    width: 100%;
}

#renderArea {
    color: #ffffff;
    height: 90%;
    background-color: #272733;
    text-align: center;
}

form {
    position: relative;
    text-align: center;
    top: 45%;
}

input {
    font-family: consolas;
    font-weight: bold;
    font-size: 14px;
    margin-top: 2%;
    width: 80%;
}

#footer {
    position: fixed;
    text-align: center;
    background-color: #16161d;
    padding-bottom: 4vh;
    padding-top: 4vh;
    height: 10%;
    width: 100%;
    margin: 0px;
}

a {
    color: white;
    text-decoration: none;
}
